<a href="https://colab.research.google.com/github/Ghalia671/MODULE1/blob/master/Ghalia_1_4_exercice_exploration_stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importer les données

In [ ]:
import pandas as pd
housing=pd.read_csv("https://dataks.bitbucket.io/ml/houses.csv")


Description des variables:

- price: prix de vente de la maison
- lotsize: superficie
- bedrooms: nombre de chambres
- bathrms: nombre de salles de bain
- stories: nombre d'étages
- driveway: présence d'allée d'entrée pour les voitures ?
- recroom: présence d'une salle de détente ?
- fullbase: sous-sol aménagé ?
- gashw: équipement du chauffage au gaz ?
- airco: présence d'air conditionné ?
- garagepl: nombre de place de parking
- prefarea: quartier favorisé ?

In [ ]:
# Explorer la base de données, par exemple avec:
housing.head()

    price  lotsize  bedrooms  bathrms  ...  gashw airco garagepl prefarea
0  420000      585         3        1  ...     no    no        1       no
1  385000      400         2        1  ...     no    no        0       no
2  495000      306         3        1  ...     no    no        0       no
3  605000      665         3        1  ...     no    no        0       no
4  610000      636         2        1  ...     no    no        0       no

[5 rows x 12 columns]

**Question** Calculer la moyenne des différentes variables numériques.

In [ ]:
housing.info()
moyP = housing["price"].mean()
print("La moyenne de la variable price est : ",round(moyP))
moyL = housing["lotsize"].mean()
print("La moyenne de la variable lotsize est : ",round(moyL))
moyBe = housing["bedrooms"].mean()
print("La moyenne de la variable bedrooms est : ", round(moyBe))
moyBa = housing["bathrms"].mean()
print("La moyenne de la variable bathrms est :", round(moyBa))
moyS = housing["stories"].mean()
print("La moyenne de la variable stories est : ", round(moyS))
moyG = housing["garagepl"].mean()
print("La moyenne de la variable garagepl est : ", round(moyG))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     546 non-null    int64
 1   lotsize   546 non-null    int64
 2   bedrooms  546 non-null    int64
 3   bathrms   546 non-null    int64
 4   stories   546 non-null    int64
 5   driveway  546 non-null    object
 6   recroom   546 non-null    object
 7   fullbase  546 non-null    object
 8   gashw     546 non-null    object
 9   airco     546 non-null    object
 10  garagepl  546 non-null    int64
 11  prefarea  546 non-null    object
dtypes: int64(6), object(6)
memory usage: 51.3+ KB
La moyenne de la variable price est :  681216
La moyenne de la variable lotsize est :  515
La moyenne de la variable bedrooms est :  3
La moyenne de la variable bathrms est : 1
La moyenne de la variable stories est :  2
La moyenne de la variable garagepl est :  1

**Question** Calculer les écart-types des différentes variables numériques.

In [ ]:
def variance(data,moy):
  # Number of observations
  n = len(data)
  # Square deviations
  deviations = [(x - moy) ** 2 for x in data]
  # Variance
  variance = sum(deviations) / n
  return variance
vp = variance(housing["price"],moyP)
vl = variance(housing["lotsize"],moyL)
vbe = variance(housing["bedrooms"],moyBe)
vba = variance(housing["bathrms"],moyBa)
vs = variance(housing["stories"],moyS)
vg = variance(housing["garagepl"],moyG)

print("L'écart type de la variable price est : ", vp)
print("L'écart type de la variable lotsize est : ", vl)
print("L'écart type de la variable bedrooms est : ", vbe)
print("L'écart type de la variable bathrms est : ", vba)
print("L'écart type de la variable stories est : ", vs)
print("L'écart type de la variable garagepl est : ", vg)

L'écart type de la variable price est :  71172671399.5156
L'écart type de la variable lotsize est :  46915.171476874806
L'écart type de la variable bedrooms est :  0.5427451059319197
L'écart type de la variable bathrms est :  0.2517006802721077
L'écart type de la variable stories est :  0.7523950408565796
L'écart type de la variable garagepl est :  0.740490278951814

**Question** Pour les variables catégoriques, calculer les occurrences des différentes catégories.

In [ ]:
print("Le nbre d'occurences pour la variable driveaway est :\n",housing["driveway"].value_counts())
print("Le nbre d'occurences pour la variable recroom est :\n",housing["recroom"].value_counts())
print("Le nbre d'occurences pour la variable fullbase est :\n",housing["fullbase"].value_counts())
print("Le nbre d'occurences pour la variable gashw est :\n",housing["gashw"].value_counts())
print("Le nbre d'occurences pour la variable airco est :\n",housing["airco"].value_counts())
print("Le nbre d'occurences pour la variable prefarea est :\n",housing["prefarea"].value_counts())

Le nbre d'occurences pour la variable driveaway est :
 yes    469
no      77
Name: driveway, dtype: int64
Le nbre d'occurences pour la variable recroom est :
 no     449
yes     97
Name: recroom, dtype: int64
Le nbre d'occurences pour la variable fullbase est :
 no     355
yes    191
Name: fullbase, dtype: int64
Le nbre d'occurences pour la variable gashw est :
 no     521
yes     25
Name: gashw, dtype: int64
Le nbre d'occurences pour la variable airco est :
 no     373
yes    173
Name: airco, dtype: int64
Le nbre d'occurences pour la variable prefarea est :
 no     418
yes    128
Name: prefarea, dtype: int64