<a href="https://colab.research.google.com/github/Ghalia671/MODULE1/blob/master/Ghalia_3_1_2_exercice_re%CC%81gression_line%CC%81aire_deux_variables_continues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
housing=pd.read_csv("https://dataks.bitbucket.io/ml/houses.csv")
housing.head(10)

    price  lotsize  bedrooms  bathrms  ...  gashw airco garagepl prefarea
0  420000      585         3        1  ...     no    no        1       no
1  385000      400         2        1  ...     no    no        0       no
2  495000      306         3        1  ...     no    no        0       no
3  605000      665         3        1  ...     no    no        0       no
4  610000      636         2        1  ...     no    no        0       no
5  660000      416         3        1  ...     no   yes        0       no
6  660000      388         3        2  ...     no    no        2       no
7  690000      416         3        1  ...     no    no        0       no
8  838000      480         3        1  ...     no    no        0       no
9  885000      550         3        2  ...     no   yes        1       no

[10 rows x 12 columns]

# Apprentissage du modèle

**Question** créez un modèle linéaire avec deux variables continues, surface (`lotsize`) et le nombre de chambers (`bedrooms`) par exemple.

In [ ]:
X = housing[['lotsize',"bedrooms"]]
y = housing[['price']]

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
 
lmodellineaire = LinearRegression()
lmodellineaire.fit(X, y)
lmodellineaire.score(X, y)

0.3702767535369478

# Prédiction

**Question** extraire les coefficients du modèle

In [ ]:
lmodellineaire.coef_

array([[   605.3635141 , 105670.88360516]])

**Question** utiliser les coefficients pour estimer le prix d'une maison de 400 m2 avec 4 chambres. Quid de 2, ou 3 chambres ?

In [ ]:
import numpy as np

lmodellineaire.coef_@np.array([[400,4],[400,2],[400,3]]).T + lmodellineaire.intercept_

array([[720907.32802249, 509565.56081217, 615236.44441733]])

**Question** utiliser la méthode `.predict` pour prédire les prix pour les exemples de maisons dans la question précédente. Retrouvez-vous les mêmes valeurs prédites ?

In [ ]:
print(lmodellineaire.predict([[400,4]]))
print(lmodellineaire.predict([[400,2]]))
print(lmodellineaire.predict([[400,3]]))

[[720907.32802249]]
[[509565.56081217]]
[[615236.44441733]]

**Question** Quel est le RMSE du modèle ? Est-il mieux que le modèle avec une variable ?

In [ ]:
from sklearn.metrics import r2_score

rmse = (np.sqrt(mean_squared_error(y, lmodellineaire.predict(X))))

print("Le RMSE est : ", rmse)

Le RMSE est :  211705.18579654823

- E : Error
- S : Square
- M : Mean
- R : Root

In [ ]:
E = lmodellineaire.predict(X) - y
S = E**2
M = S.mean()
R = np.sqrt(M)
R

price    211705.185797
dtype: float64

**Question** Faire la prédiction pour plusieurs observations. Par exemple, deux appartements avec les caractéristiques suivantes:

- 300 mètres carrés et 3 chambres
- 350 mètres carrés et 2 chambres.

Utiliser la méthode `predict` et aussi en utilisant les coefficients du modèle.

In [ ]:
estimationPrix4 = lmodellineaire.predict([[300,3]])
print("Estimation du prix de vente pour 3 chambres : ",estimationPrix4)
estimationPrix5 = lmodellineaire.predict([[350,2]])
print("Estimation du prix de vente pour 2 chambres : ",estimationPrix5)

Estimation du prix de vente pour 3 chambres :  [[554700.09300766]]
Estimation du prix de vente pour 2 chambres :  [[479297.38510734]]